a {
    /*
    border-style: solid;
    border-width: 3px;
    border-color: red;
    border-radius: 6px;
    border-top-color: purple;
    */
    border: 3px solid red;
    border-radius: 6px;
    /*
    margin-left: 10px;
    margin-top: 5pt;
    */
    margin: 5pt 0 0 10px;
    padding: 15px 23px;
    width: 200px;
    height: 300px;
    display: inline-block;
}

p {
    background-color: blue;
    border: 4px solid black;
    width: 200px;
    height: 300px;
}

/*

BLOCK (zauzima citavu sirinu ekrana)
    p, div, h1, ..., h6, table

INLINE (zauzima samo neophodnu sirinu i visinu)
    a, span, td

dispay svojstvo
    display: block; (ovim elementima mozete da podesavate widht i height, redjaju se jedan ispod drugog)
    display: inline; (ovim elementima ne mozete da podesavate width i height, redjaju se jedan do drugog)
    dispaly: inline-block; (ovim elementima mozete da podesavate widht i height, redjaju se jedan do drugog)



*/