* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Horizontalni meni */

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.topbar ul {
    overflow: hidden;
    list-style: none;
}

.topbar ul li {
    float: left;
    width: 25%;
    border: 1px solid red;
    text-align: center;
    background-color: brown;
}

.topbar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 0;
    display: block;
    font-size: 18px;
}

.topbar ul li a:hover {
    background-color: chocolate;
}

/* Ostatak stranice */

.ostatak {
    position: relative;
    top: 45px;
    overflow: hidden;
}

.ostatak aside {
    float: left;
    width: 30%;
}

.ostatak section {
    float: left;
    width: 70%;
}

/* Vertikalni meni */
.ostatak aside ul {
    list-style: none;
}

.ostatak aside ul li {
    border: 1px solid green;
    text-align: center;
    background-color: darkgreen;
}

.ostatak aside ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 0;
    display: block;
    font-size: 18px;
}

.ostatak aside ul li a:hover {
    background-color: greenyellow;
}
