body {
    background-color: antiquewhite;
}

img {
    width: 50%;
}

/* Za širinu ekrana ispod 700px */
@media only screen and (min-width: 700px) {
    img {
        width: 100%;
        border: red 5px solid;
    }
}

@media only screen and (min-width: 800px) {
    img {
        width: 100%;
        border: green 5px solid;
    }
}

@media only screen and (min-width: 900px) {
    img {
        width: 100%;
        border: blue 5px solid;
    }
}

/*Za širinu ekrana izmedju 500px i 700px */
@media only screen and (min-width: 500px) and (max-width: 700px) {
    p {
        color: purple;
    }
}